@mixin list-unstyled {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin header-item-style {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
}

@mixin hero-item-style {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: rgba(214, 212, 212, 0.88);
}