.bg-f {
  background-color: #b00000;
  padding: 50px 10px;
}

.lastes {
  margin-left: 50px;
}

.footer__txt {
  width: 400px;
  color: #fff;
}

.footer__item {
  margin-bottom: 20px;
  color: #fff;
}

.footer__list {
  margin-right: 50px;
}