
.works__list {
  display: flex;
  justify-content: space-between;
}

.works__item {
  width: 250px;
  list-style: none;
  align-items: center;
  text-align: center;
  flex-wrap: wrap ;
}

.works__ttitle {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.works__txt {
  width: 280px;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #000000;
}

@media screen and (max-width:1125px) {
  .works__list {
    display: block;
    margin-top: -100px;
  padding-left: 0;
  }

  .works__item {
    width: 300px;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
  }

  .works__item {
    margin-bottom: 50px;
  }
}

@media screen and (max-width:839px) {
  #works-section {
    margin-top: 300px;
  }
}
@media screen and (max-width:761px) {
  #works-section {
    margin-top: 300px;
  }

  .works__list {
    margin-top: 50px;
  }

  .works__item p {
    margin-bottom: 60px;
  }

}

@media screen and (max-width:500px) {
 .works__item {
   width: 300px;
   align-items: center;
   margin: 0 auto;
 }

 .works__txt {
   width: 200px;
   margin: 0 auto;
 }
}